html,
body, h1, h2, h3, p, div, li, ul {
  margin: 0;
  padding: 0;
  /*font-family: Roboto;
  color: #2e3738;*/
}


.sparks, #sparks2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("https://cdn.hyperdev.com/26ca6cc4-973c-4dcf-a43a-321c1d9f6606%2Fsparklers.jpg")center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.sparks {
  justify-content: flex-end;
}

#title{
  font-family: 'Raleway', sanserif;
  font-weight: 400;
  font-size: 4em;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

#sparks2 h1{
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sanserif;
  font-weight: 400;
  padding-top: 1em;
  font-size: 4em;
  opacity: 0.7;

}
@media (min-width: 85em){
  #title {
    font-size: 7.5em;
    font-weight: 700;
    opacity: 0.8;
  }
}
]
.sparks h1{
  margin-top: 0.7em !important;
}
@media (min-width: 29em){
  #nopipe::after {
    content: "|";
    padding-left: 5px;
  }
}
@media (max-width: 47em) {
  #ido {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
  }
  #projects {
    flex-direction: column;
    margin: 0 auto;
  }
  #potato, #arctangent, #heavey {
    width: 90% !important;
    margin: 0 auto;
  }
  #arctangent, #heavey {
    padding-bottom: 1em;
  }
}
@media (max-width: 28em){

  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
  #projects {
    flex-direction: column;
    margin: 0 auto;
  }
  #potato, #arctangent, #heavey {
  width: 90vw;
  margin: 0 auto;
  }
  .centerPage {
    display: flex;
    align-items: center;
  }
}


#ido{
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
}

.sparks h2 {
  margin-left: 1em;
  color: #FC963D;
  opacity: 0.7;
  font-weight: 200;
  font-style: italic;
}
@media (min-width: 85em){
  #ido{
    font-size: 2em;
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: #FFF;
  /*opacity: .7;*/
}

a:hover {
color: #FC963D;
}

@media (min-width: 85em){
  a{
    font-size: 2.5em;
  }
}

#bar {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 8em;
}
#bar li{
  margin: 0 0 1.5em 2em;
  list-style: none;
  font-size: 1.5em;
  font-family: 'Raleway';
}
@media (max-width: 28em){
  #bar {
    margin-top: 3em;
    padding-left: 1em;
  }
}
@media (max-width: 47em) {
  #bar {
    margin-top: 2em;
    padding-left: 1em;
  }
  #bar ul{
    margin-bottom: 2em;
  }
  #bar li {
    margin: 0;
  }
}
/* ======= SOCIAL MEDIA ====== */

#social {
display: flex;
justify-content: cent;


}
.socialImg {
  max-height: 2.5em;
}

/*   ====== PORTFOLIO ======*/
#portfolio {
  display: flex;
  align-content: center;
  flex-direction: column;
}
#porfolioP {
    color: #FC963D;
      padding: 0.5em;
      text-align: center;
      font-size: 2.5em;
      line-height: 1.4;
}
#projects {
  display: flex;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 2em;
  justify-content: space-between;
}
#potato, #arctangent, #heavey {
width: 25vw;
}
#project1, #project2, #project3 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  font-family: "Raleway";
  color: #2e3738;
  font-size: 1em !important;
  text-align: center;
}

.projectP {
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
}

/*   ====== FOOTER ======== */
footer a{
  color: #FC963D;
}
footer {
  background-color: #677A81;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  padding: 0 !important;
  color: #fff;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}
