<!DOCTYPE html>
<html>
  <head>
    <title>Michelle Gienow | Portfolio</title>
    <meta name="description" content="A portfolio site for Michelle Gienow's photographic and web development work">
    <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/26ca6cc4-973c-4dcf-a43a-321c1d9f6606%2FsparklericonLite.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>
  <body>

<div class="sparks">
  <h1 id="title">michelle gienow</h1>
  
  <div id="ido">
    <h2>web developer</h2>
    <h2>photographer</h2>
  </div>
  
  <div id="bar">
    <ul>
    <li><a href="#">portfolio</a></li>
    <li><a href="#">resume</a></li>
    <li><a href="#">contact</a></li>
    </ul>
  </div>
  
</div>

<div id="portfolio">
<p>
  Descriptions to come. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur, libero eget bibendum elementum, lorem orci rutrum justo, at fermentum neque felis ac ex. Phasellus suscipit dapibus ante, eu sodales risus sagittis ut. Phasellus eget augue purus. Sed eget auctor felis, egestas vestibulum augue. Aenean pharetra metus quis orci consequat dapibus. Integer aliquam aliquet ipsum ut pellentesque. Curabitur cursus, nibh ut vehicula maximus, eros libero pretium diam, eu luctus nisl mauris a augue. Nulla luctus in orci non vulputate. Suspendisse at tortor elit.
</p>

</div>
<div class="sparks">
  <h1 class="title">Let's make sparks!</h1>
  
</div>
<footer>
  <p id="nopipe">&copy;2016 Michelle Gienow   |   </p>
<p><a href="http://madewithloveinbaltimore.org">  Made with &hearts; in Baltimore</a></p>
</footer>

<script type="text/javascript" src='/client.js'></script>
</body>

</html>
