html,
body, h1, h2, h3, p, div, li, ul {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #2e3738;
}


.sparks {
  height: 100vh;
  width: 100%;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
  background: url("https://cdn.hyperdev.com/26ca6cc4-973c-4dcf-a43a-321c1d9f6606%2Fsparklers.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

#title,
.sparks h1 {
  font-family: 'Raleway', sanserif;
  font-size: 4em;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 0;
}
#title {
    margin-top: 0 !important;
}
.sparks h1{
  margin-top: 0.7em !important;
}

@media (max-width: 750px) {
  #ido {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
  }
  #bar ul{
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  #bar li {
    margin: 0;
  }
.sparks {
  height: 100vh;
  width: 100%;
  /*perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;*/
  background: url("https://cdn.hyperdev.com/26ca6cc4-973c-4dcf-a43a-321c1d9f6606%2FsparklersTALL.jpg") no-repeat center center fixed;
  background-size: cover;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}
}
@media (max-width: 350px){
  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
  <script>var el=document.getElementById("nopipe");
    el.innerHTML= '<p>&copy;2016 Michelle Gienow</p>';
  </script>
}


#ido{
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
  
}
.sparks h2 {
  margin-left: 1em;
  color: #FC963D;
  opacity: 0.7;
  font-weight: 200;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #FFF;
  opacity: .7;
}
a:hover {
color: #FC963D;
}



p {
  width: 70%;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}
#bar {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
#bar li{
  margin: 0 0 1.5em 2em;
  list-style: none;
  font-size: 1.5em;
  font-family: 'Raleway';
}
footer a{
  color: #FC963D;
}
footer {
  background-color: #677A81;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  padding: 0 !important;
  color: #fff;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}